/* ===== GENERAL ===== */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #000;
}
/* ------------------- */
/* MENÚ SUPERIOR */
/* ------------------- */
.menu {
    background: var(--negro);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: var(--blanco);
}

.logo span {
    color: var(--dorado);
}

.menu-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu-links a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
}

.menu-links a:hover {
    color: var(--dorado);
}

/* Submenú */
.submenu {
    position: relative;
}

.submenu-items {
    display: none;
    position: absolute;
    list-style: none;
    top: 30px;
    background: var(--negro);
    padding: 10px 0;
}

.submenu:hover .submenu-items {
    display: block;
}

.submenu-items li {
    padding: 10px 20px;
}

.submenu-items li a:hover {
    color: var(--rojo);
}

/* ===== TÍTULO ===== */
.titulo-portafolio {
    text-align: center;
    padding: 60px 20px;
    background: url('imagenes/fondof3.jpg') center/cover no-repeat;
    color: #fff;
}

.titulo-portafolio h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* ===== GALERÍA DE TARJETAS ===== */
.galeria-portafolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    width: 90%;
    margin: 60px auto;
    padding-bottom: 60px;
}

.card {
    background: #fff;
    border: 3px solid #C9A84D;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-info {
    padding: 20px;
    text-align: center;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* ===== BOTONES UNIFICADOS ===== */

.btn-ver,
.btn-blog,
.btn-cot {
    display: inline-block;
    padding: 12px 28px;
    background: #ff0202;              /* Negro */
    color: #ffffff;                /* Dorado */
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    border: 2px solid #fc0c0c;     /* Borde dorado */
    transition: 0.3s ease;
    letter-spacing: 0.5px;
}

/* Hover general */
.btn-ver:hover,
.btn-blog:hover,
.btn-cot:hover {
    background: red;               /* Rojo */
    color: #fff;                   /* Blanco en hover */
    border-color: red;
}


/* ===== PIE DE PÁGINA ===== */
.footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    border-top: 4px solid red;
}

.btn-blog {
    margin-top: 20px;
    display: inline-block;
    padding: 12px 25px;
    background: #f50606fd;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
}

.btn-blog:hover {
    background: red;
    color: white;
}