/* ======== ESTILO GENERAL ======== */

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #fff;
    color: #222;
}

/* ======== HEADER ======== */

.header {
    background: #000;
    color: #C9A84D;
    text-align: center;
    padding: 35px 10px;
    border-bottom: 4px solid red;
}

/* ======== MENÚ ======== */

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #111;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-menu ul li a {
    color: #C9A84D;
    text-decoration: none;
    padding: 12px 18px;
    display: block;
    transition: 0.3s;
}

.nav-menu ul li a:hover {
    background: red;
    color: #fff;
}

.submenu {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 45px;
    background: #000;
    border: 1px solid red;
    min-width: 180px;
}

.submenu:hover .dropdown {
    display: block;
}

.dropdown li a {
    padding: 10px;
}

/* ======== INTRO ======== */

.intro-section {
    padding: 40px;
    background: url('../../imagenes/FondoZ1.jpg') center/cover no-repeat;
    text-align: center;
    border-bottom: 3px solid red;
    color: #ffffff
}

.intro-section p {
    max-width: 800px;
    margin: auto;
    font-size: 18px;
}

/* ======== GALERÍA ======== */

.gallery {
    text-align: center;
    padding: 40px 20px;
}

.gallery h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.gallery-item {
    background: #fff;
    border: 2px solid #C9A84D;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.gallery-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.03);
    border-color: red;
}

/* ======== INFORMACIÓN ======== */

.info-section {
    padding: 40px 20px;
    background: #fff;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
}

.info-section ul {
    max-width: 750px;
    margin: auto;
    font-size: 17px;
    line-height: 28px;
}

/* ======== BOTÓN ======== */

.button-section {
    text-align: center;
    padding: 40px;
}

.main-button {
    padding: 12px 28px;
    background: #000;
    color: #C9A84D;
    border-radius: 6px;
    border: 2px solid #C9A84D;
    text-decoration: none;
    margin: 10px;
    transition: 0.3s;
}

.main-button:hover {
    background: red;
    color: #fff;
    border-color: red;
}

/* ======== FOOTER ======== */

.footer {
    background: #000;
    color: #C9A84D;
    text-align: center;
    padding: 25px 10px;
    border-top: 3px solid red;
}
